<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_Layoutpagpadrao.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="An interactive getting started guide for Brackets.">

    <title>DS Limp - Gerencial</title>

    <style>
        input[type="file"] {
            width: 35px;
            height: 35px;
        }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <div id="main" class="container-fluid">
        <form action="salvarproduto" method="post">
            <div class="row">
                <div class="form-group col-md-2">
                    <label for="CodigoProduto">Código do produto</label>
                    <input type="text" class="form-control" id="codigoproduto" name="codigoproduto" placeholder="Código" readonly>
                </div>

                <div class="form-group col-md-2">
                    <label for="DescricaoProduto">Descrição do produto</label>
                    <input type="text" class="form-control" id="descricaoproduto" name="descricaoproduto" placeholder="Contato no cliente">
                </div>

                <div class="form-group col-md-2">
                    <label for="valorcusto">Valor custo</label>
                    <input type="number" class="form-control" id="valorcusto"  onblur="formatarDinheiro(this)" name="valorcusto" placeholder="R$ Custo">
                </div>

                <div class="form-group col-md-2">
                    <label for="valorvenda">Valor venda</label>
                    <input type="number" class="form-control"  id="valorvenda" step=".01" name="valorvenda" onblur="formatarDinheiro(this)" placeholder="R$ Venda">
                </div>

                <div class="form-group col-md-1" align="center">
                    <label for="fotoproduto">Foto produto</label>
                    <input type="file" id="fotoproduto" name="fotoproduto" hidden="hidden">
                    <button class="glyphicon glyphicon-paperclip" aria-hidden="true" id="upload" style="width:35px; height:35px"></button>
                    <script type="text/javascript">
                        const foto = document.getElementById("fotoproduto");
                        const uploadbtn = document.getElementById("upload");

                        uploadbtn.addEventListener("click", function () {
                            foto.click();
                        });
                    </script>
                </div>

                <div class="form-group col-md-2">
                    <label for="linhaproduto">Linha produto</label>
                    <input list="linhasprodutos" name="linhaproduto" class="form-control" placeholder="Selecione uma linha">
                    <datalist id="linhasprodutos">
                        <option value="Limpeza leve"/>
                        <option value="Limpeza pesada"/>
                        <option value="Roupas"/>
                        <option value="Vidros"/>
                    </datalist>
                </div>

                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="pesquisa" name="pesquisa" placeholder="Pesquisa Rápida">
                </div>

                <button type="submit" name="pesquisar" value="1" class="btn btn-default btn-md" style="height:35px">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </div>

            <div class="panel panel-default">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center">Código do produto</th>
                            <th scope="col" style="text-align: center">Descrição do produto</th>
                            <th scope="col" style="text-align: center">Valor de custo</th>
                            <th scope="col" style="text-align: center">Valor de venda</th>
                            <th scope="col" style="text-align: center">Foto do produto</th>
                            <th scope="col" style="text-align: center">Linha do produto</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td id="codigoproduto" name="codigoproduto"></td>
                            <td id="descricaoproduto" name="descricaoproduto"></td>
                            <td id="valorcusto" name="valorcusto"></td>
                            <td id="valorvenda" name="valorvenda"></td>
                            <td id="fotoproduto" name="fotoproduto"></td>
                            <td id="linhaproduto" name="linhaproduto"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-group col-md-1 col-md-offset-10" role="group">
                <button type="submit" name="salvar" value="1" class="btn btn-info btn-block">Salvar</button>
            </div>
            <div class="btn-group col-md-1" role="group">
                <button type="submit" class="btn btn-default btn-block" name="cancelar" value="1">Cancelar</button>
            </div>
        </form>
    </div>

    <script>
     
        function formatarDinheiro(x) {
             
                 x.value = parseFloat(x.value.replace(/,/g, ""))
                .toFixed(2)
                .toString()
                .replace(/\B(?=(\d{10})+(?!\d))/g, ",");      
        }
    </script>
</body>

</html>