<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_Layoutpagpadrao.cshtml";
}
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</head>
<body>
    <div id="main" class="container-fluid">
        <div class="panel panel-default" style="margin-top: 3px; margin-left:10px">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center">Produto</th>
                        <th scope="col" style="text-align: center">Quantidade</th>
                        <th scope="col" style="text-align: center">Valor</th>
                        <th scope="col" style="text-align: center">Cliente</th>
                        <th scope="col" style="text-align: center">Endereço</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td id="produto" name="produto"></td>
                        <td id="quantidade" name="quantidade"></td>
                        <td id="valor" name="valor"></td>
                        <td id="cliente" name="cliente"></td>
                        <td id="endereco" name="endereco"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group col-md-2">
            <label for="totalsaida" style="margin-top: 3px">Total de vendas</label>
            <input type="text" name="vendastotal" id="vendastotal" readonly>
        </div>
    </div>
</body>
</html>