<!DOCTYE html>

    <html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DS Limp - Gerencial</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/estilo.css">

        <!-- Último Javascript compilado e minimizado -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info" style="height: 60px">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <img class="media-object" src="~/images/logo.png" width="10" id="imgLogo" style="margin-top: 20px; margin-left: -20px">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="resumodiario">Resumo diário</a>
                            <a class="dropdown-item" href="vendas">Vendas</a>
                            <a class="dropdown-item" href="estoque">Estoque</a>
                            <a class="dropdown-item" href="financeiro">Financeiro</a>
                            <a class="dropdown-item" href="agenda">Agenda</a>
                            <a class="dropdown-item" href="cadastroproduto">Cadastro de Produtos</a>
                            <a class="dropdown-item" href="cadastrocliente">Cadastro de Clientes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="deslogar"><strong>Sair</strong></a>
                        </div>
                    </li>
                </ul>
                <div class="col-md-offset-6">
                    <a class="navbar-brand col-md-offset-9" style="color:ghostwhite">@ViewBag.titulo</a>
                </div>
            </div>
        </nav>

    </body>
    @RenderBody()
    <footer class="page-footer font-small unique-color-dark bg-info fixed-bottom">
        <div class="footer-copyright text-center py-3">
            © 2018 Copyright:
            <a style="color:ghostwhite" href="">DGG Soluções em Softwares</a>
        </div>
    </footer>
</html>
